[submodule "src/expand-region"]
	path = src/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "snippets/gtk-yas"]
	path = snippets/gtk-yas
	url = https://github.com/gtuckerkellogg/yasnips.git
[submodule "src/mark-multiple"]
	path = src/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "sunrise-commander"]
	path = sunrise-commander
	url = git://github.com/escherdragon/sunrise-commander.git
